<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/Grid.css/"/>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&amp;subset=latin-ext" rel="stylesheet"/>
    <title>ADVENTURE GAME</title>
</head>
<body>
<div class="row titlediv">
    <h1 class="title">WELCOME TO THE ADVENTURE GAME!</h1>
    <h4><a class="btn" th:href="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).PLAY}__}">LET'S GO TO AN ADVENTURE!</a></h4>
</div>
     <div>
        <footer>
        <p>Copyright &copy; 2019 Tomasz Kartasiński. All rights reserved.</p>
    </footer>
    </div>
</body>
</html>
