<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/Grid.css"/>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&amp;subset=latin-ext" rel="stylesheet"/>
    <title>ADVENTURE!</title>
</head>
<body>
<div class="row titlediv">
    <h1 class="title">ADVENTURE TIME!</h1>
<div class="playdiv">
    <h2 class="playtitle">INVENTORY:</h2>
        <table>
            <tr th:each="item:${get_inventory}">
                <form th:object="${dropItem}" th:action="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).DROP}__}" method="post">
                    <input type="hidden" th:value="${item}" th:id="name" th:name="name"/>
                    <button class="btn-item" type="submit" id="dropButton" th:text="${item}">lamp</button>
                </form>
            </tr>
        </table>
</div>
<div class="playdiv">
    <h2 class="playtitle">LOCATION:</h2>
    <h3 class="container" th:text="${__${T(com.tkjavadev.adventuregame.util.AttributeNames).DESCRIPTION}__}">
        He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once. He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the wood and river in quedtion were.</h3>
    </div>
    <div class="playdiv">
        <h2 class="playtitle">DIRECTIONS:</h2>
        <table>
        <h4 class="inline"><a class="btn-solid" th:href="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).EXIT}__}">QUIT</a></h4>
        <tr th:each="gate:${gates}">
            <form th:object="${nextGate}" th:action="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).CHANGE}__}" method="post">
                <input type="hidden" th:id="destId" th:name="destId" th:value="${gate.getDestId()}"/>
                <input type="hidden" th:id="id" th:name="id" th:value="${gate.getId()}"/>
                <input type="hidden" th:id="locId" th:name="locId" th:value="${gate.getLocId()}"/>
                <input type="hidden" th:id="direction" th:name="direction" th:value="${gate.getDirection()}"/>
                <input type="hidden" th:id="required" th:name="required" th:value="${gate.getRequired()}"/>
                <button class="btn" type="submit" th:text="${gate.getFullName()}">DIRECTION</button>
            </form>
        </tr>
    </table>
        <!--<div>-->
            <!--<form th:object="${destination}" th:action="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).CHANGE}__}" method="post">-->
                <!--<input type="text" th:field="*{destId}"/>-->
                <!--<button class="btn" type="submit">GO!</button>-->
            <!--</form>-->
        <!--</div>-->
</div>
<div class="playdiv">
    <h2 class="playtitle">ITEMS IN LOCATION:</h2>
    <table>
        <tr th:each="item:${items}">
            <form th:object="${invItem}" th:action="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).ADD}__}" method="post">
                <input type="hidden" th:value="${item.getName()}" th:id="name" th:name="name"/>
                <input type="hidden" th:value="${item.getRequired()}" th:id="required" th:name="required"/>
                <button class="btn-item" type="submit" th:text="${item.getName()}" id="item">key</button>
            </form>
        </tr>
    </table>
    </div>
    <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <h3 id="msgGate" th:text="${__${T(com.tkjavadev.adventuregame.util.AttributeNames).GATE_MESSAGE}__}">GATE MESSAGE</h3>
</div>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <h3 id="msgItem" th:text="${__${T(com.tkjavadev.adventuregame.util.AttributeNames).ITEM_MESSAGE}__}">ITEM MESSAGE</h3>
</div>
</div>
<div>
    <footer>
        <p>Copyright &copy; 2019 Tomasz Kartasiński. All rights reserved.</p>
    </footer>
</div>
    <script src="js/script.js"></script>
    <script src="js/jquery.js"></script>
</body>
</html>